<!DOCTYPE html>
<html style="background-color: #5051D4;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Saiba sobre nós </title>
</head>
<body>
	<h2>Um pouco da nossa história</h2>
	<p> para você que acessa o nosso site, gostaria de apresentar um pouco da história sobre como este ambiente veio a surgir, primeiramente, esse foi um site pensado para suprir as necessidades das pessoas em consumir conteudo de filmes com qualidade, além de comprar ou alugar alguns dos filmes recentes que estão bombando pela internet, mas calma, esse ainda é um site em desenvolvimento, então é natural que passe por mudanças durante o tempo sendo melhorado a cada passo, e consequantemente mais filmes serão adicionados e alguns eventos estão para acontecer, então continuem navegando em nosso site, e até uma próxima!!</p>
	<img class="img" src="src/imagens/imgLocadora.jpg">
	<button onclick="goTo('/homepage')">Voltar</button>
</body>
</html>